@import 'base';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.center {
  padding: 1em;
  background-color: #f8f8f8;
  text-align: center;

  h2 {
    font-size: 40px;
  }

  .desc {
    color: #999;
  }
}

.ico-funny {
  margin: 10px;
  display: inline-block;
  width: 64px;
  height: 64px;
  background: url('../img/funny.png') center center no-repeat;
}
