@import 'base';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.center {
  padding: 1em;
  background-color: #fefefe;
  text-align: center;
  max-width: 800px;

  h2 {
    font-size: 40px;
  }

  .desc {
    text-align: left;
  }

  .icons-list {
    margin-top: 50px;

    .ico {
      display: inline-block;
      vertical-align: top;
      width: 80px;
      height: 80px;
      margin: 0 1em;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;

      &.eslint {
        background-image: url('../img/eslint.svg');
      }

      &.babel {
        background-image: url('../img/babel.svg');
      }

      &.postcss {
        background-image: url('../img/postcss.svg');
      }

      &.handlebars {
        background-image: url('../img/handlebars.png');
        background-color: #f15a24;
      }

      &.webpack {
        width: 200px;

        img {
          width: 100%;
        }
      }
    }
  }

  .copyright {
    padding: 200px 0 10px;
    color: #ccc;
    border-bottom: 1px solid #ccc;
  }
}

.ico-funny {
  margin: 10px;
  display: inline-block;
  width: 64px;
  height: 64px;
  background: url('../img/funny.png') center center no-repeat;
}
