{{> start title="Handlebars Template Demo"}}

<h1>Handlebars file</h1>
{{> header}}

{{[transformers/embiggen] 'test embiggen'}}

<br>

{{#when 'data' '===' 'data'}}
  Test 'when' succfullly0
{{/when}}

{{> end}}