{{> start title="Handlebars Template Demo"}}

{{> nav tab='hbs'}}

<h1>Handlebars file</h1>
{{> header}}

<br>
<hr>

{{[transformers/embiggen] 'test embiggen'}}

<br>
<hr>

{{#when 'data' '===' 'data'}}
  Test 'when' succfullly0
{{/when}}

<br>
<hr>

CGI_ROOT: {{ htmlWebpackPlugin.options.data.CGI_ROOT }}

{{> end}}